{% set project = env['project'] %}
{% set prefix = properties['prefix'] %}

resources:
- name: {{ prefix }}-state-bucket
  type: storage.v1.bucket
  properties:
    location: US
    storageClass: STANDARD
    versioning:
      enabled: true
    iamConfiguration:
      uniformBucketLevelAccess:
        enabled: true
    lifecycle:
      rule:
        - action:
            type: Delete
          condition:
            age: 365
    labels:
      environment: "terraform"
      purpose: "state-storage"

